<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Server</title>
    <Link rel="stylesheet" href="index.css"></Link>
</head>
<body>
    <form action="/get-form-data" method="post">
        <input type="text" name="name" id="name" placeholder="Enter your name">
        <input type="text" name="email" id="email" placeholder="Enter your email">
        <input type="password" name="password" id="password" placeholder="Enter your password">
        <input type="submit" value="Submit">
    </form>
   <script src="/assets/index.js"></script> 
</body>
</html>